@charset "utf-8";
/* CSS Document */
h1 {
	color:#FFFFFF;
	text-align:center;
	font-size:55px;
}

html {
	background-color:#A29B95;
}

h3 {
	
}

button {
	border-color:#3B9EE5;
	border-radius:5px;
	margin-left:20px;
	
	
}












